tt-list
  .item
    padding: 12px
    .second-line
      display: flex
      align-items: flex-end // to make like/dislike/comment icons on the same middle line with tags
    &--tags,
    &--actions
      display: inline-block
      > *
        color: #b5b5b5
        &:hover
          opacity: 0.6
    &:nth-child(even)
      background: hsl(0, 0%, 98%)

