tt-list
  .item
    padding: 12px
    .second-line
      display: flex
    &--tags,
    &--actions
      > *
        color: #b5b5b5
        &:hover
          opacity: 0.6
    &:nth-child(even)
      background: hsl(0, 0%, 98%)
      border-radius: 4px

