tt-list
  .item
    padding-top: 12px
    padding-bottom: 12px
    & > *
      flex-shrink: 0
    &--title
      flex: 1 0
      text-overflow: ellipsis
      overflow: hidden
    &:not(:last-child)
      border-bottom: none
    &:nth-child(even)
      background: hsl(0, 0%, 98%)
