.infinite-scroll-container(
    infinite-scroll='',
    '[infiniteScrollThrottle]'="300",
    '(scrolled)'='loadMore.emit()')

  .item.panel-block.is-flex('*ngFor'='let item of items')

    span.panel-icon
      i(aria-hidden='true', '[ngClass]'='item.type | getIconByItemType')

    a.item--title(  '[href]'='item.url',
        target='_blank',
        '(click)'='startReading.emit(item.id)',
        '[title]'='item.url')
      | {{item.title || item.url}}

    span.tag.is-light.ml-2('*ngFor'='let tagId of item.tags') {{tagId | tagTitleById:tags}}

    tt-tag-selector.ml-2(
        '[tags]'='tags',
        '[selectedIds]'='item.tags',
        '(toggle)'='toggleTagHandler($event, item)',
        'title'='#',
        '[isTitleStatic]'='true',
        '[isAllTagsVisible]'='false')

    a.icon.is-small.ml-2(
        '[class.has-text-warning]'='item.isFavourite',
        '(click)'='toggleFavouriteHandler(item)',
        title='Toggle favorite')
      i.fa-star('[class.fas]'='item.isFavourite', '[class.far]'='!item.isFavourite')

    .dropdown.is-hoverable.is-right.ml-2
      .dropdown-trigger
        a
          span.icon.is-small
            i.fas.fa-angle-down(aria-hidden='true')
      .dropdown-menu(role='menu')
        .dropdown-content
          a.dropdown-item.has-text-success(
              '*ngIf'='item.status === "opened"',
              '(click)'='finishReading.emit(item.id)') Mark as Finished
          a.dropdown-item('*ngIf'='item.status !== "new"', '(click)'='undoReading.emit(item.id)') Mark as Unread
          a.dropdown-item.has-text-danger('(click)'='delete.emit(item.id)') Delete


  ng-container('*ngIf'='isLoading')
    .notification
      p Loading...

  ng-container('*ngIf'='isZeroItems()')
    .notification
      p No items

  //ng-container('*ngIf'='areAllItemsLoaded && !isZeroItems()')
  //  .notification
  //    p No more items. Total items for current filter: {{items.length}}
