p('*ngIf'='items && !items.length') No items yet.
article.message.is-dark('*ngFor'='let item of items')
  .message-body
    p.items__item__primary-text.subtitle('*ngIf'='item.title')
      span {{item.title}}&nbsp;
      span.tag.is-info {{item.type}}
    a('[href]'='item.url', target='_blank', '(click)'='startReading.emit(item.id)')
      p.items__item__secondary-text {{item.url}}
    //- p.items__item__secondary-text('*ngIf'='item.description') {{item.description}}

    tt-tags('[all]'='tags', '[selectedIds]'='item.tags', '(toggle)'='toggleTagHandler($event, item)')
    .field.is-grouped
      .control('*ngIf'='item.status === "new"')
        a.button.is-outlined.is-info(
          '(click)'='startReading.emit(item.id)',
          '[href]'='item.url',
          target='_blank') Start reading
      .control('*ngIf'='item.status === "opened"')
        button.button.is-outlined.is-info('(click)'='finishReading.emit(item.id)') Finished
      .control('*ngIf'='item.status !== "new"')
        button.button.is-outlined.is-success('(click)'='undoReading.emit(item.id)') Unread
      .control.ml-auto
        button.button.is-outlined.is-danger('(click)'='delete.emit(item.id)') Delete
