.widget.you-were-reading
  .header
    h2.header__title You were reading...
      span.header__subtitle (recently opened)
    a.header__action(routerLink='/items')
      span More
      span.icon
        i.fas.fa-chevron-right
  tt-list('[items]'='openedItems$ | async',
          '[tags]'='tags$ | async',
          '(startReading)'='itemsService.startReading($event)',
          '(finishReading)'='itemsService.finishReading($event)',
          '(undoReading)'='itemsService.markAsNew($event)',
          '(toggleTag)'='itemsService.toggleTag($event.itemId, $event.isSelected, $event.tagId)',
          '(toggleFavourite)'='itemsService.toggleFavourite($event.id, $event.isFavourite)',
          '(delete)'='itemsService.remove($event)',
          '(retryURLParsing)'='itemsService.retryURLParsing($event)',
          '(tagClick)'='showItemsWithTag($event)',
          '(changeRating)'='itemsService.changeRating($event.id, $event.rating)',
          '(changeComment)'='itemsService.changeComment($event.id, $event.comment)',)
  .info('*ngIf'='!(openedItems$ | async)?.length') You don't have unfinished items. Good job! 👍


.widget.read-today
  .header
    h2.header__title Read Today
      span.header__subtitle (random items)
    a.header__action('(click)'='getNewRandom$.next()')
      span Shuffle
      span.icon
        i.fas.fa-sync
  tt-list('[items]'='randomItems$ | async',
          '[tags]'='tags$ | async',
          '(startReading)'='itemsService.startReading($event)',
          '(finishReading)'='itemsService.finishReading($event)',
          '(undoReading)'='itemsService.markAsNew($event)',
          '(toggleTag)'='itemsService.toggleTag($event.itemId, $event.isSelected, $event.tagId)',
          '(toggleFavourite)'='itemsService.toggleFavourite($event.id, $event.isFavourite)',
          '(delete)'='itemsService.remove($event)',
          '(retryURLParsing)'='itemsService.retryURLParsing($event)',
          '(tagClick)'='showItemsWithTag($event)',
          '(changeRating)'='itemsService.changeRating($event.id, $event.rating)',
          '(changeComment)'='itemsService.changeComment($event.id, $event.comment)',)
  .info('*ngIf'='!(randomItems$ | async)?.length')
    span You have nothing to read yet.&nbsp;
    a(routerLink='/items') Add something by URL 🔗
    span &nbsp;or&nbsp;
    a(routerLink='/fast-fast-add-and-import') Import your bookmarks 🔖

.widget.statistics
  .header
    h2.header__title Statistics
      span.header__subtitle (do you read or just save?)
  .info Coming soon...
