.field
  .file.is-medium.is-primary.is-boxed
    label.file-label
      input.file-input(type="file", name="Upload File", (change)="selected.emit($event)", title="Click to upload file", accept="text/html, text/plain")
      span.file-cta
        span.file-icon
          i.fas.fa-upload
        span.file-label.normal-label Upload File
        span.file-label.drop-label Drop file here