tt-add
  display: block
  .success-message
    max-width: 500px
    margin: 0 auto
  tt-list-item
    margin: 1rem 0 2rem 0
    border-top: 1px solid grey
    border-bottom: 1px solid grey
  .button.is-loading
    display: block
    margin: 0 auto
