nav.panel
  .notification.notification--item-exists(*ngIf="existingItem$ | async as existingItem")
    h2.subtitle
      span.icon
        i.fas.fa-exclamation-triangle 
      span Link with this URL has been already saved earlier:
    button.delete('(click)'='existingItem$ = null')
    tt-list-item(
        [item]="existingItem",
        [tags]="tagService.tags$ | async",
        (startReading)="itemService.startReading($event)",
        (finishReading)="itemService.finishReading($event)",
        (undoReading)="itemService.markAsNew($event)",
        (delete)="existingItem$ = null; itemService.remove($event)",
        (retryURLParsing)="itemService.retryURLParsing($event)",
        (toggleTag)="itemService.toggleTag($event.itemId, $event.isSelected, $event.tagId)",
        (toggleFavourite)="itemService.toggleFavourite($event.id, $event.isFavourite)",
        (tagClick)="routerHelper.toItemsWithFilter({tagId: $event})",
        (changeRating)="itemService.changeRating($event.id, $event.rating)",
        (changeComment)="itemService.changeComment($event.id, $event.comment)",
        (setPriority)="itemService.setPriority($event.item.id, $event.priority)",
        (setTitle)="itemService.setTitle($event.item.id, $event.title)",
        (setURL)="itemService.setURL($event.item.id, $event.url)",
    )
  tt-items-add('(add)'='create($event)', '[tags]'='tagService.tags$ | async')
  tt-items-filter('[tags]'='tagService.tags$ | async', '[filter]'='filter$ | async', [counter]="counter$ | async", '(changed)'='routerHelper.toItemsWithFilter($event)')
  tt-list('[items]'='items$ | async',
          '[tags]'='tagService.tags$ | async',
          '[pagination]'='pagination$ | async',
          '(startReading)'='itemService.startReading($event)',
          '(finishReading)'='itemService.finishReading($event)',
          '(undoReading)'='itemService.markAsNew($event)',
          '(toggleTag)'='itemService.toggleTag($event.itemId, $event.isSelected, $event.tagId)',
          '(toggleFavourite)'='itemService.toggleFavourite($event.id, $event.isFavourite)',
          '(delete)'='itemService.remove($event)',
          '(retryURLParsing)'='itemService.retryURLParsing($event)',
          '(loadPrev)'='loadPrev()',
          '(loadNext)'='loadNext()',
          '(tagClick)'='routerHelper.toItemsWithFilter({tagId: $event})',
          '(changeRating)'='itemService.changeRating($event.id, $event.rating)',
          '(changeComment)'='itemService.changeComment($event.id, $event.comment)',
          (setPriority)="itemService.setPriority($event.item.id, $event.priority)",
          (setTitle)="itemService.setTitle($event.item.id, $event.title)",
          (setURL)="itemService.setURL($event.item.id, $event.url)",
  )
