.base('*ngFor'='let base of items', '[ngStyle]'='{"padding-left": (level ? 2.5 : 0) + "rem"}')
  .line
    label.checkbox
      input(type='checkbox', '[(ngModel)]'='base.isSelected', '(input)'='toggle(base)')
    button.button.is-small('*ngIf'='base.type === "folder"', '(click)'='toggleExpansion(base)')
      span.icon
        i.far.fa-folder
    span('[attr.title]'='base.title || base.url') {{ base.title || base.url }}

    a('*ngIf'='base.type === "bookmark"', '[attr.href]'='base.url', target='_blank', title='Open link in new tab')
      span.icon
        i.fas.fa-globe-americas

  tt-items-import-list('*ngIf'='base.type === "folder" && base.children.length && base.isExpanded', '[items]'='base.children', '[level]'='level+1')
