/* You can add global styles to this file, and also import other style files */
$fa-font-path: '../../../node_modules/@fortawesome/fontawesome-free/webfonts'

// $panel-tab-active-border-bottom-color: hsl(171, 100%, 41%)
$panel-item-border: 1px solid transparent
// $panel-tab-border-bottom: 1px solid red

@import '~bulma/bulma.sass'
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss'
@import '~@fortawesome/fontawesome-free/scss/regular.scss'
@import '~@fortawesome/fontawesome-free/scss/solid.scss'
@import '~@fortawesome/fontawesome-free/scss/brands.scss'

@import 'spacers'


.has-border-bottom
  border-bottom: 1px solid $border

.dropdown-menu--w-none
  min-width: auto
  .dropdown-content
    padding: 0.25rem 0
  .dropdown-item
    padding: .375rem .5rem

.button
  .dropdown-item
    .icon:first-child:not(:last-child)
      margin-left: 0

@media(max-width: 768px)
  tt-root > .section
    padding: 0
  .panel-block
    border-left: 0
    border-right: 0
  .top-control
    padding-left: 0.75rem
    padding-right: 0.75rem

nav .dropdown-menu[role='notifications']
  min-width: 15rem
+tablet
  nav .dropdown-menu[role='notifications']
    min-width: 18rem

.color-circle
  display: block
  border-radius: 50%
  width: 1rem
  height: 1rem

.br-1
  border-radius: 4px

.ml-auto
  margin-left: auto


