/* You can add global styles to this file, and also import other style files */
$fa-font-path: '../../../node_modules/@fortawesome/fontawesome-free/webfonts'

// $panel-tab-active-border-bottom-color: hsl(171, 100%, 41%)
$panel-item-border: 1px solid transparent
// $panel-tab-border-bottom: 1px solid red

@import '~bulma/bulma.sass'
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss'
@import '~@fortawesome/fontawesome-free/scss/regular.scss'
@import '~@fortawesome/fontawesome-free/scss/solid.scss'
@import '~@fortawesome/fontawesome-free/scss/brands.scss'

@import 'spacers'


.app-component-container
  max-width: $desktop

.has-border-bottom
  border-bottom: 1px solid $border

.dropdown-menu--w-none
  min-width: auto
  .dropdown-content
    padding: 0.25rem 0
  .dropdown-item
    padding: .375rem .5rem
.dropdown-menu--tiny-items .dropdown-item
  padding: .2rem .8rem !important

.button
  .dropdown-item
    .icon:first-child:not(:last-child)
      margin-left: 0

@media(max-width: 768px)
  tt-root > .section
    padding: 0
  .panel-block
    border-left: 0
    border-right: 0
  .top-control
    padding-left: 0.75rem
    padding-right: 0.75rem

nav .dropdown-menu[role='notifications']
  min-width: 15rem
+tablet
  nav .dropdown-menu[role='notifications']
    min-width: 18rem

.color-circle
  display: block
  border-radius: 50%
  width: 1rem
  height: 1rem

.br-1
  border-radius: 4px

.ml-auto
  margin-left: auto !important

i.fas, i.far
  // use styles of ".fa-fw" for all icons
  text-align: center
  width: 1.25em

.widget
  $gap: .8rem
  &+.widget
    margin-top: $gap
  &__header
    display: flex
    align-items: center
    justify-content: space-between
    border-bottom: .5px solid $grey-light
    padding: 0 $gap
    &__title
      font-size: $size-4
    &__subtitle
      font-size: $size-7
      color: $grey-light
      margin-left: .3rem
      @media (max-width: $tablet)
        display: none
    &__action
      font-size: 1.2rem
      color: $grey-light
      > span:first-child
        margin-right: .5rem
      > a
        color: $grey-light
  &__body
    padding: 0 $gap
  &__info
    font-size: $size-4
    color: $grey-light
    text-align: center
    margin: 3*$gap $gap

.notification-messages
  >.mark-all-as-read
    font-size: $size-6
    color: $cyan
    display: flex
    justify-content: center

  >.notif
    >.line
      &.second
        display: flex
        align-items: center
        > .indicator
          width: 10px
          height: 10px
          flex: 0 0 10px
          border-radius: 50%
          margin-right: 0.5rem
  >hr
    margin: .5rem 0
  >.last-items-shown
    color: $grey
    text-align: center
    margin-top: .5rem

.notification
  &.is-small
    padding: .5rem

.checkbox
  display: flex
  align-items: center
  input[type="checkbox"] + span
    margin-left: .3rem
