.chart-wrapper(*ngIf="statistics && values")
  ngx-charts-line-chart(
      [results]="values",
      [xAxis]="true",
      [yAxis]="true",
      [showGridLines]="true",
      [roundDomains]="true",
      [animations]="false",
      [scheme]="colorScheme",
  )
