span Add common tags:
tt-tag-selector(
'[tags]'='tags',
'[selectedIds]'='inputTags',
'(toggle)'='toggleTag($event)',
'[isTitleCustom]'='true',
'[isAllTagsVisible]'='false',)
  a.button.has-text-info
    i.fas.fa-hashtag(aria-hidden='true')
tt-priority-selector([priority]="priority", [asButton]="true", (set)="priority = $event")
button.button.is-warning('(click)'='cancel.emit()') Cancel
button.button.is-primary('(click)'='save()') Import

tt-items-import-list('[items]'='import.bookmarks')
