.dropdown.is-hoverable([class.is-right]="!isDropdownLeft")
  .dropdown-trigger
    ng-container('*ngIf'='!isDropdownTriggerCustom')
      a([ngClass]="{'has-text-info': selectedIds.length, 'has-text-grey-light': !selectedIds.length, 'button': asButton}")
        span.icon
          i.fas.fa-hashtag(aria-hidden='true')
      ng-container(*ngIf="!hideSelected")
        a.tiny-tag(
          *ngFor='let tag of (selectedIds | tagsByIds:tags)',
          (click)='tagClickHandler(tag.id, $event)',
          [ngStyle]='{"color": tag.color}'
        ) {{tag.title || 'Tag not found'}}
    ng-content
  .dropdown-menu.dropdown-menu--w-none.dropdown-menu--tiny-items(role='menu')
    .dropdown-content
      .dropdown-item(*ngIf="helpText") {{helpText}}
      a.dropdown-item.has-text-grey-light('*ngIf'='isAllTagsVisible', '(click)'='deselectAll()')
        span.icon.mr-2
          i.fas.fa-check('[ngStyle]'='{"visibility": selectedIds.length ? "hidden" : "visible"}')
        span All tags
      hr.dropdown-divider('*ngIf'='isAllTagsVisible && tags?.length')
      .dropdown-item
        input.input.is-small(placeholder="Search", [(ngModel)]="searchText")
      hr.dropdown-divider
      a.dropdown-item(
          *ngFor="let tag of tags | filterByField:[{field: 'title', value: searchText, match: 'includesString'}]",
          href="javascript:;",
          (click)="toggleTag(tag.id)",
          [attr.data-badge]="counter ? counter['tags.'+tag.id]: ''")
        span.icon.mr-1([style.color]="tag.color")
          i.fas.fa-check('[ngStyle]'='{"visibility": isSelected(tag.id) ? "visible" : "hidden"}')
        span([style.color]="tag.color") {{ tag.title }}

      .dropdown-item('*ngIf'='!tags?.length')
        span(style='min-width: 85px') No tags yet.&nbsp;
          br
          a(routerLink='/tags', target="_blank") Create new
