@import variables

tt-items-filter
  display: flex
  align-items: baseline
  color: $grey-light

  > *:not(:last-child)
    margin-right: $textSpacer
  .dropdown
    .dropdown-trigger
      text-transform: capitalize
    span.icon + span
      margin-left: $baseSize / 5
