.dropdown.is-hoverable.is-right.icon-alignment--first
  .dropdown-trigger.widget__header__title
    span(*ngIf="params.filter.status === 'new'")
      span Read Today
    span.has-text-info(*ngIf="params.filter.status === 'opened'")
      span Started
    span.has-text-success(*ngIf="params.filter.status === 'finished'")
      span Finished
    span.has-text-warning(*ngIf="!params.filter.status && isFavourite()")
      span Favourites
    span(*ngIf="!params.filter.status && !isFavourite()")
      span All links
    span.icon.is-small
      i.fas.fa-angle-down(aria-hidden='true')
  .dropdown-menu.dropdown-menu--w-none(role='menu')
    .dropdown-content
      a.dropdown-item.has-text-grey-light((click)="setStatus(null)")
        span.icon
          i.fas.fa-list
        span All links
      a.dropdown-item(
        (click)="setStatus('new')"
      )
        span.icon
          i.far.fa-circle
        span Read Today
      a.dropdown-item.has-text-info(
        (click)="setStatus('opened')"
      )
        span.icon
          i.far.fa-play-circle
        span Started
      a.dropdown-item.has-text-success(
        (click)="setStatus('finished')"
      )
        span.icon
          i.far.fa-check-circle
        span Finished
      a.dropdown-item.has-text-warning((click)="setFavourite()")
        span.icon
          i.fas.fa-star
        span Favourites

div
  span Filter:

  tt-priority-selector(
    [priority]="params.filter.priority",
    [counter]="counter",
    [shouldShowAnyPriority]="true",
    (set)="setPriority($event)"
  )

  tt-tag-selector.icon-alignment--last(
    [tags]="tags",
    [selectedIds]="params.filter.tagId ? [params.filter.tagId] : []",
    [counter]="counter",
    (toggle)="toggleTagId($event)",
    [isAllTagsVisible]="true"
  )
