nav.navbar.is-primary(role='navigation' aria-label='main navigation')
  .navbar-start
    .navbar-item TOREAD.TODAY
  .navbar-end('*ngIf'='user')
    .navbar-item
      | {{user.displayName}}
    .navbar-item
      button.button('(click)'='signOut.emit()') Sign out
