nav.navbar.is-primary(role='navigation' aria-label='main navigation')
  .navbar-brand
    a.navbar-item(routerLink='/')
      span.icon.mr-1
        i.far.fa-bookmark
      span Toread.today {{appVersionInfo?.version}}
    a.navbar-burger.burger(
        role='button',
        aria-label='menu',
        '[class.is-active]'='isMenuExpanded',
        '(click)'='toggleMenu()')
      span(aria-hidden='true')
      span(aria-hidden='true')
      span(aria-hidden='true')

  .navbar-menu('[class.is-active]'='isMenuExpanded')

    .navbar-start
      a.navbar-item(routerLink='/items', routerLinkActive='is-active')
        span.icon.mr-1
          i.fas.fa-list-ul
        span Links
      a.navbar-item(routerLink='/tags', routerLinkActive='is-active')
        span.icon.mr-1
          i.fas.fa-tags
        span Tags

    .navbar-end('*ngIf'='user')

      //- mobile menu
      ng-container('*ngIf'='isMenuExpanded; else desktopMenu')
        a.navbar-item
          span.icon.mr-1
            i.fas.fa-cat
          | Hello, {{user.displayName || user.email}}

        a.navbar-item('(click)'='signOut.emit()')
          span.icon.mr-1
            i.fas.fa-sign-out-alt
          | Sign out

      ng-template('#desktopMenu'='')
        .navbar-item
          .dropdown.is-hoverable.is-right
            .dropdown-trigger
              a
                figure.image.is-24x24
                  img.is-rounded('[src]'='user.photoURL')
            .dropdown-menu(role='menu')
              .dropdown-content
                .dropdown-item
                  span.icon.mr-1
                    i.fas.fa-cat
                  | Hello, {{user.displayName || user.email}}
                hr.dropdown-divider
                a.dropdown-item('(click)'='signOut.emit()')
                  span.icon.mr-1
                    i.fas.fa-sign-out-alt
                  | Sign out
