.loading-indicator.button.is-loading.icon-alignment--last(
  [class.is-hidden]="!meta || !meta.isLoading || !items || !items.length"
)

.items
  tt-list-item(
    *ngFor="let item of items; trackBy: trackByFn()",
    [item]="item",
    [tags]="tags",
    (startReading)="startReading.emit($event)",
    (finishReading)="finishReading.emit($event)",
    (undoReading)="undoReading.emit($event)",
    (delete)="delete.emit($event)",
    (retryURLParsing)="retryURLParsing.emit($event)",
    (toggleTag)="toggleTag.emit($event)",
    (toggleFavourite)="toggleFavourite.emit($event)",
    (tagClick)="tagClick.emit($event)",
    (changeRating)="changeRating.emit($event)",
    (changeComment)="changeComment.emit($event)",
    (setPriority)="setPriority.emit($event)",
    (setTitle)="setTitle.emit($event)",
    (setURL)="setURL.emit($event)"
  )

.tt-pagination.buttons.is-right(*ngIf="meta")
  .dropdown.is-hoverable.is-right.is-down.mr-auto(*ngIf="(!meta.isLoading && meta.page) || meta.nextItemsAvailable")
    .dropdown-trigger
      .button
        span Per page: {{ params.pagination.limit }}
        span.icon.is-small
          i.fas.fa-angle-down(aria-hidden="true")
    .dropdown-menu.dropdown-menu--w-none(role="menu")
      .dropdown-content
        a.dropdown-item(*ngFor="let limit of paginationLimits", (click)="setPaginationLimit.emit(limit)")
          | {{ limit }} links
  button.button([class.is-hidden]="!meta.page || meta.isLoading", (click)="loadPrev.emit()", title="To the first page")
    span.icon
      i.fas.fa-angle-double-left
  .button(*ngIf="(!meta.isLoading && meta.page) || meta.nextItemsAvailable")
    span Page {{ meta.page + 1 }}
  button.button(
    (click)="loadNext.emit()",
    [class.is-loading]="meta.isLoading",
    [class.is-hidden]="!meta.nextItemsAvailable && !meta.isLoading",
    title="To the next page"
  )
    span.icon
      i.fas.fa-angle-right
