.loading-indicator.button.is-loading.icon-alignment--last([class.is-hidden]="!meta || !meta.isLoading || !items || !items.length")

.items
  tt-list-item(
    *ngFor="let item of items; trackBy: trackByFn()",
    [item]="item",
    [tags]="tags",
    (startReading)="startReading.emit($event)",
    (finishReading)="finishReading.emit($event)",
    (undoReading)="undoReading.emit($event)",
    (delete)="delete.emit($event)",
    (retryURLParsing)="retryURLParsing.emit($event)",
    (toggleTag)="toggleTag.emit($event)",
    (toggleFavourite)="toggleFavourite.emit($event)",
    (tagClick)="tagClick.emit($event)",
    (changeRating)="changeRating.emit($event)",
    (changeComment)="changeComment.emit($event)",
    (setPriority)="setPriority.emit($event)",
    (setTitle)="setTitle.emit($event)",
    (setURL)="setURL.emit($event)",
  )

.tt-pagination.buttons.are-small.is-right(*ngIf="meta")
  button.button('[class.is-hidden]'='!meta.page || meta.isLoading', '(click)'='loadPrev.emit()', title="To the first page")
    span.icon
      i.fas.fa-angle-double-left
  .dropdown.is-hoverable.is-right.is-up(*ngIf="!meta.isLoading && meta.page || meta.nextItemsAvailable")
    .dropdown-trigger
      a.button
        span Page {{meta.page+1}}
        span.icon.is-small
          i.fas.fa-angle-up(aria-hidden='true')
    .dropdown-menu.dropdown-menu--w-none(role='menu')
      .dropdown-content
        .dropdown-item Limit per page:
        a.dropdown-item(*ngFor="let limit of paginationLimits", (click)="setPaginationLimit.emit(limit)") {{limit}}
  button.button(
    (click)="loadNext.emit()",
    [class.is-loading]="meta.isLoading",
    [class.is-hidden]="!meta.nextItemsAvailable && !meta.isLoading",
    title="To the next page"
  )
    span.icon
      i.fas.fa-angle-right
