.container
  section.hero.is-large
    .hero-body
      .container.has-text-centered
        h2.title
          span Toread.today is in&nbsp;
          span.tag.is-warning.is-large Beta
          span &nbsp;now, so use it for Free 😉

        .cta
          a.button.is-info.is-large(routerLink="/app") Try it
