.saving(*ngIf="isSaving; else saveFinished")
  .notification
    .text Saving...
    progress.progress.is-small.is-primary(max="100") 15%

ng-template(#saveFinished="")
  .error-message(*ngIf="error; else success")
    .has-text-centered
      h1.title.has-text-danger
        span.icon
          i.fas.fa-exclamation-triangle
        span Save failed :(
      h2.subtitle.has-text-danger {{ error.message }}
      ng-container(*ngIf="error.type === 'url-invalid'")
        p Fix URL and click "Try again".
        textarea.textarea([(ngModel)]="url", rows="3", placeholder="URL")
        .buttons.is-right
          button.button.is-primary((click)="save()") Try again

  ng-template(#success="")
    .success-message
      .has-text-centered
        h1.title.has-text-primary
          span.icon
            i.far.fa-check-circle
          span Saved successfully.
        h2.subtitle(*ngIf="shouldClose") You can close this tab.
      tt-list-item(
        *ngIf="item$ | async as item",
        [item]="item",
        [tags]="tagService.tags$ | async",
        (startReading)="itemService.startReading($event)",
        (finishReading)="itemService.finishReading($event)",
        (undoReading)="itemService.markAsNew($event)",
        (delete)="item$ = null; itemService.remove($event)",
        (retryURLParsing)="itemService.retryURLParsing($event)",
        (toggleTag)="itemService.toggleTag($event.itemId, $event.isSelected, $event.tagId)",
        (toggleFavourite)="itemService.toggleFavourite($event.id, $event.isFavourite)",
        (tagClick)="routerHelper.toItemsWithFilter({ tagId: $event })",
        (changeRating)="itemService.changeRating($event.id, $event.rating)",
        (changeComment)="itemService.changeComment($event.id, $event.comment)",
        (setPriority)="itemService.setPriority($event.item.id, $event.priority)",
        (setTitle)="itemService.setTitle($event.item.id, $event.title)",
        (setURL)="itemService.setURL($event.item.id, $event.url)"
      )
      .buttons.is-centered
        a.button((click)="goBack()")
          span.icon
            i.fas.fa-chevron-left
          span Go back
        a.button(routerLink="/app/links")
          span.icon
            i.fas.fa-list
          span To the list
