@import variables

tt-navbar
  display: block
  margin-bottom: $sidePadding

  .navbar-brand
    .add-input-wrapper
      flex-grow: 1
      flex-shrink: 1
      @media (min-width: $tablet) and (max-width: $desktop)
        max-width: 60vw
      &.is-active
        @media(max-width: $mobile)
          position: absolute
          z-index: 5
          width: 100%

  .navbar-burger
    margin: 0
    $size: 56px !important
    width: $size
    height: $size

  .navbar-end
    > .navbar-item:last-child
      padding-right: 0
