nav.navbar.is-primary(role='navigation' aria-label='main navigation')
  .navbar-brand
    a.navbar-item(routerLink='/', '(click)'='closeMenu()')
      span.icon.mr-1
        i.far.fa-bookmark
      span Toread.today {{appVersionInfo?.version}}

    tt-notifications.navbar-item.ml-auto('*ngIf'='isMobile$ | async', '[userId]'='user.uid')

    a.navbar-burger.burger.is-marginless(
        role='button',
        aria-label='menu',
        '[class.is-active]'='isMenuExpanded',
        '(click)'='toggleMenu()')
      span(aria-hidden='true')
      span(aria-hidden='true')
      span(aria-hidden='true')

  .navbar-menu('[class.is-active]'='isMenuExpanded')

    .navbar-start
      a.navbar-item(routerLink='/dashboard', routerLinkActive='is-active', '(click)'='closeMenu()')
        span.icon.mr-1
          i.fas.fa-chart-line
        span Dashboard
      a.navbar-item(routerLink='/items', routerLinkActive='is-active', '(click)'='closeMenu()')
        span.icon.mr-1
          i.fas.fa-list-ul
        span Links
      a.navbar-item(routerLink='/tags', routerLinkActive='is-active', '(click)'='closeMenu()')
        span.icon.mr-1
          i.fas.fa-tags
        span Tags
      a.navbar-item(routerLink='/fast-fast-add-and-import', routerLinkActive='is-active', '(click)'='closeMenu()')
        span.icon.mr-1
          i.fas.fa-cloud-upload-alt
        span Fast Add & Import

    .navbar-end('*ngIf'='user')
      //- mobile menu
      ng-container('*ngIf'='isMenuExpanded; else desktopMenu')
        a.navbar-item
          span.icon.mr-1
            i.fas.fa-cat
          span Hello, {{user.displayName || user.email}}

        a.navbar-item(routerLink='/roadmap', routerLinkActive='is-active', '(click)'='closeMenu()')
          span.icon.mr-1
            i.fas.fa-road
          span Project roadmap

        a.navbar-item('(click)'='signOut.emit()')
          span.icon.mr-1
            i.fas.fa-sign-out-alt
          span Sign out

      ng-template('#desktopMenu'='')
        .navbar-item
          .navbar-item
            tt-notifications('*ngIf'='!(isMobile$ | async)', '[userId]'='user.uid')
          .navbar-item
            .dropdown.is-hoverable.is-right
              .dropdown-trigger
                a
                  figure.image.is-24x24
                    img.is-rounded('[src]'='user.photoURL')
              .dropdown-menu(role='menu')
                .dropdown-content
                  .dropdown-item
                    span.icon.mr-1
                      i.fas.fa-cat
                    span Hello, {{user.displayName || user.email}}
                  a.dropdown-item(routerLink='/roadmap', routerLinkActive='is-active', '(click)'='closeMenu()')
                    span.icon.mr-1
                      i.fas.fa-road
                    span Project roadmap
                  hr.dropdown-divider
                  a.dropdown-item('(click)'='signOut.emit()')
                    span.icon.mr-1
                      i.fas.fa-sign-out-alt
                    | Sign out
