.notification.is-warning('*ngIf'='error')
  button.delete('(click)'='error = null')
  | {{error}}

tt-tags-editor(
    '[tags]'='tags$ | async',
    '[counter]'='counter$ | async',
    '(create)'='create($event)',
    '(update)'='update($event)',
    '(delete)'='delete($event)')
