section.hero
  .hero-body
    .container
      .columns
        .column
          p.subtitle
            a(routerLink="/")
              span.icon.icon-alignment--first
                i.far.fa-bookmark
              span Toread.Today
          ul
            li
              a(routerLink="/") Home page
            li
              a(routerLink="/pricing") Pricing

        .column
          p.subtitle
            span
              span.icon.icon-alignment--first
                i.far.fa-file
              span Resources
          ul
            li
              a(routerLink="/terms-and-conditions") Terms & Conditions
            li
              a(routerLink="/privacy-policy") Privacy Policy

        .column
          p.subtitle
            span
              span.icon
                i.fas.fa-code
              span Development
          ul
            li
              a(href="mailto:2spy4x@gmail.com?subject=Question%20about%20Toread.Today%20app", target="_blank")
                | Contact developer
            li
              a(routerLink="/app/roadmap") Project roadmap
            li
              span Version {{ updateService.versionInfo.version }}
