.columns
  .column.is-narrow
    .widget.add
      .header.mb-3
        h2.header__title Add
      .body
        form.mb-5
          .field
            .control
              label.radio
                input(type='radio', name='type', '#suggestion'='', checked, value='suggestion')
                span.ml-1 Suggestion
              label.radio.ml-1
                input(type='radio', name='type', '#bug'='', value='bug')
                span.ml-1 Bug

          .field
            .control
              textarea.textarea('#textarea'='', placeholder='Enter description (more details would help your idea to be implemented faster)')
          .field
            .control
              button.button.is-primary('(click)'='add(textarea.value, suggestion.checked ? "suggestion" : "bug"); textarea.value = ""') Submit
  .column
    .widget.statistics
      .columns
        .column
          .widget
            .header
              a.header__title('(click)'='scrollTo("features")') {{(features$ | async)?.length}} Features
                span.icon.ml-1
                  i.fas.fa-arrow-down
        .column
          .widget
            .header
              a.header__title('(click)'='scrollTo("suggestions")') {{(suggestions$ | async)?.length}} Suggestions
                span.icon.ml-1
                  i.fas.fa-arrow-down
        .column
          .widget
            .header
              a.header__title('(click)'='scrollTo("bugs")') {{(bugs$ | async)?.length}} Bugs
                span.icon.ml-1
                  i.fas.fa-arrow-down
    .widget.bricks
      .header.mb-3
        h2.header__title('#features'='') {{(features$ | async)?.length}} Approved features
          span.header__subtitle (things 100% to be implemented)
      .body
        tt-bricks-list('[bricks]'='features$ | async',
                        '[userId]'='userId',
                        '(vote)'="vote($event)",
                        '(changeTitle)'="changeTitle($event)",
                        '(changeType)'="changeType($event)",
                        '(changeStatus)'="changeStatus($event)",
                        '(remove)'="remove($event)",)
    .widget.bricks
      .header.mb-3
        h2.header__title('#suggestions'='') {{(suggestions$ | async)?.length}} Suggestions
          span.header__subtitle (ideas that require other users' support/comments/likes)
      .body
        tt-bricks-list('[bricks]'='suggestions$ | async',
                        '[userId]'='userId',
                        '(vote)'="vote($event)",
                        '(changeTitle)'="changeTitle($event)",
                        '(changeType)'="changeType($event)",
                        '(changeStatus)'="changeStatus($event)",
                        '(remove)'="remove($event)",)
    .widget.bricks
      .header.mb-3
        h2.header__title('#bugs'='') {{(bugs$ | async)?.length}} Bugs
          span.header__subtitle (nasty glitches)
      .body
        tt-bricks-list('[bricks]'='bugs$ | async',
                        '[userId]'='userId',
                        '(vote)'="vote($event)",
                        '(changeTitle)'="changeTitle($event)",
                        '(changeType)'="changeType($event)",
                        '(changeStatus)'="changeStatus($event)",
                        '(remove)'="remove($event)",)
