h1.title Project roadmap - {{(roadmapBricks$ | async)?.length}} bricks

.bricks
  .brick('*ngFor'='let brick of roadmapBricks$ | async')
    p
      span.tags
        span.tag id: {{brick.id}}
        span.tag type: {{brick.type}}
        span.tag('[class.is-info]'='brick.status === "inProgress"', '[class.is-success]'='brick.status === "done"') status: {{brick.status}}
        span.tag('*ngIf'='brick.startWorkingAt && !brick.releasedInVersion') scheduled: {{brick.startWorkingAt.toDate() | date}}
        p('*ngIf'='brick.releasedInVersion') Released: {{(brick.startWorkingAt?.toDate() | date) || 'No date'}} in {{brick.releasedInVersion}}

    p.my-2 {{brick.title}}

    .buttons.mb-0
      button.button(type='button', '(click)'='vote(brick.id, 1)', '[class.has-text-success]'='brick.likedBy.includes(userId)', '[class.has-text-weight-bold]'='brick.likedBy.length')
        span I need that
        span.icon
          i.far.fa-thumbs-up
        span ({{brick.likedBy.length}})
      button.button(type='button', '(click)'='vote(brick.id, -1)', '[class.has-text-danger]'='brick.dislikedBy.includes(userId)', '[class.has-text-weight-bold]'='brick.dislikedBy.length')
        span I don't need that
        span.icon
          i.far.fa-thumbs-down
        span ({{brick.dislikedBy.length}})
    p('*ngIf'='brick.releasedInVersion') Released: {{brick.releasedInVersion}}

form.my-5
  h2.subtitle Add {{userId === 'carcBWjBqlNUY9V2ekGQAZdwlTf2' ? 'feature' : 'suggestion'}}
  .field
    label.label Title
    .control
      textarea.textarea('#textarea'='')
  .field
    .control
      button.button.is-primary('(click)'='add(textarea.value); textarea.value = ""') Submit


