section#hero.hero.is-fullheight-with-navbar.is-primary
  .hero-body
    .container
      .columns.is-vcentered
        .column
          h1.title Keep your links organised
          h2.subtitle
            span.inline-block Forget about chaos in your browser's tabs.
            span.inline-block Save links for reading later into the only storage you need.

          .cta
            a.button.is-info.is-large(routerLink="/app") Try Toread.Today for Free
            .no-credit-card-required No credit card required.
        .column
          img(src="/assets/public/landing-page/iphone-and-imac.png", alt="Screenshot of the application")

section#how-it-works.hero.is-medium
  .hero-body
    .container
      h1.title.has-text-centered How It Works

      ul.steps.has-content-centered
        li.steps-segment
          span.steps-marker
            span.icon
              i.fas.fa-plus
          .steps-content
            p.is-size-4 Step 1
            p
              span Save link to Toread.Today using web app, bookmarklet
              span.has-text-grey-light &nbsp;or chrome extension.
        li.steps-segment
          span.steps-marker
            span.icon
              i.fas.fa-hashtag
          .steps-content
            p.is-size-4 Step 2
            p
              span Assign tags, priority,
              span.has-text-grey-light &nbsp;reminder.
        li.steps-segment
          span.steps-marker
            span.icon
              i.fas.fa-eye
          .steps-content
            p.is-size-4 Step 3
            p Read when it's comfortable for you
        li.steps-segment.is-active
          span.steps-marker
            span.icon
              i.fas.fa-check
          .steps-content
            p.is-size-4 Step 4
            p
              span Mark link as finished and useful/useless.
              span.inline-block.has-text-success.has-text-weight-medium You are awesome!

section#benefits.hero.is-primary
  .hero-body
    .container.has-text-centered
      .benefits
        h3.title Benefits
        .columns
          .column.item
            span.icon
              i.fas.fa-meteor
            .item__title Clean and fast browser
            .item__subtitle No more mess in your browser tabs (frees CPU & RAM)
          .column.item
            span.icon
              i.far.fa-star
            .item__title Everything in one place
            .item__subtitle Articles, Videos, Work, Fun
          .column.item
            span.icon
              i.far.fa-check-circle
            .item__title Keep your links in order
            .item__subtitle Easily find links using tags, priorities, favourites
          .column.item
            span.icon
              i.fas.fa-exchange-alt
            .item__title Start & stop reading with ease
            .item__subtitle Start on one device, finish on another

      .coming-soon
        h3.title Coming soon:
        .columns
          .column.item
            span.icon
              i.fab.fa-chrome
            .item__title Add links faster with Chrome Extension
          .column.item
            span.icon
              i.far.fa-bell
            .item__title Never again forget about saved links with reminders
          .column.item
            span.icon
              i.fas.fa-users
            .item__title See what others think about this link
          .column.item
            span.icon
              i.far.fa-clock
            .item__title
              span.inline-block Have only 5 minutes?
              span.inline-block Suggestions that fits your time

section#story.hero
  .hero-body
    .container
      .has-text-centered
        h3.title "Downside of the digital world"
        img#photo.is-rounded(src="/assets/public/landing-page/anton.jpg", alt="Anton Shubin photo")
        p Hi! My name is Anton Shubin.

      p As a child, I didn't like to read. But adulthood is different, isn't it? Profession pushes to read. So now I read a lot ... or at least I try to. Articles, YouTube videos, tech blogs.

      p.has-text-centered Some time ago my browser started to look like this regularly:
      .quote
        img.screenshot(src="/assets/public/landing-page/tons-of-tabs.png", alt="Tons of tabs")
        p Looks familiar, huh?

      p It is about 10x more than I can read at once. Browser agrees with that and tries to terribly die. I could hardly find an urgent article that I recently opened in a tab deeply drown in my browser. Could I separate tabs with articles for work and for fun? Nah!

      p.has-text-centered I lived with that until my mobile browser started laughing at me:
      .quote
        img.screenshot(src="/assets/public/landing-page/android-chrome-laugh.jpg", alt="Android Chrome :D")
        p "Hell, I have to do something with it!"
      p I tried variety of standard tools. Tried popular apps for that task. But nothing allowed me to keep tons of links organised, prioritised and clear at the same time. I felt so terrible that I decided to beat that problem once and forever with my own solution.
      .quote
        img.screenshot(
          src="/assets/public/landing-page/toread-today-screenshot.png",
          alt="Toread.Today app screenshot"
        )

      p With my new tool browser became pure as a virgin and finally... I feel that weight has fallen off from my shoulders. I can find important article, random interesting video for my free 5 minutes, separate work & private stuff and more!
      p
        span Now I am working on new features that allow me to read more and not to forget about links saved earlier&nbsp;
        strong to Read them Today!

section#safe-net-cta.hero.is-primary
  .hero-body
    .container.has-text-centered
      h1.title Want to organise your links?

      .cta
        a.button.is-info.is-large(routerLink="/app") Try Toread.Today for Free
        .no-credit-card-required No credit card required.
