.dropdown.is-hoverable.is-right
  .dropdown-trigger
    ng-container('*ngIf'='!isTitleCustom')
      a
        span {{getActiveTitle()}}
        span.icon
          i.fas.fa-angle-down(aria-hidden='true')
    ng-content
  .dropdown-menu.dropdown-menu--w-none(role='menu')
    .dropdown-content
      a.dropdown-item('*ngIf'='isAllTagsVisible', '(click)'='deselectAll()')
        span.icon.mr-2
          i.fas.fa-check('[ngStyle]'='{"visibility": getSelected().length ? "hidden" : "visible"}')
        span All tags
      hr.dropdown-divider('*ngIf'='isAllTagsVisible && tags?.length')
      a.dropdown-item(
          '*ngFor'='let tag of tags' href='javascript:;',
          '(click)'='toggleTag(tag)')
        span.icon.mr-2('[ngStyle]'='{"color": tag.color || "#00d1b2"}')
          i.fas.fa-check('[ngStyle]'='{"visibility": isSelected(tag) ? "visible" : "hidden"}')
        span.tag('[ngStyle]'='{"background-color": tag.color || "#00d1b2", "color": "white"}') {{ tag.title }}
