.dropdown.is-hoverable.is-right('[class.is-active]'='(error$ | async) || (isAnyNewNotification$ | async)', '#dropdown'='')
  .dropdown-trigger(title='Show notifications')
    a
      span.icon.is-white.has-text-white.px-3
        i.far.fa-bell

  .dropdown-menu(role='notifications')
    .dropdown-content
      //- Error
      .dropdown-item('*ngIf'='error$ | async as error; else notifications')
        p.has-text-danger {{error}}
        button.button.is-fullwidth.is-small('(click)'='hideError()')
          span.icon
            i.fas.fa-times
          span Ignore and show notifications
      ng-template('#notifications'='')
        ng-container('*ngIf'='allNotifications$ | async as notifications; else loading')
          ng-container('*ngFor'='let notification of notifications; last as isLast')
            .dropdown-item.notif
              .indicator('[class.has-background-primary]'='notification.status === "new"')
              div
                p {{notification.text}}
                p.has-text-grey-light.is-size-7 {{notification.createdAt.toDate() | date:dateFormat}}
              a.icon.button--delete.ml-auto('(click)'='delete(notification.id)')
                i.far.fa-trash-alt
            hr.dropdown-divider('[ngClass]'='{"is-hidden": isLast}')

          .dropdown-item('*ngIf'='!notifications.length')
            span No notifications yet
            span.ml-auto ※\(^o^)/※

        ng-template('#loading'='')
          .dropdown-item
            span Loading...

