.notification.is-warning('*ngIf'='error$ | async as error')
  button.delete('(click)'='error$.next(null)')
  | {{error}}

nav.panel
  tt-items-add('(add)'='add($event)', '[tags]'='tags$ | async',)
  div
    .title.with-actions.top-control
      h2 Read Today:
      a.is-size-6.has-text-grey-light('(click)'='getNewRandom$.next()', title='Randomize')
        span.icon
          i.fas.fa-redo
    tt-list('[items]'='randomItems$ | async',
            '[tags]'='tags$ | async',
            '[isLoading]'='false',
            '[areAllItemsLoaded]'='true',
            '[hideTheEnd]'='true',
            '(startReading)'='startReading($event)',
            '(finishReading)'='finishReading($event)',
            '(undoReading)'='undoReading($event)',
            '(toggleTag)'='toggleTag($event)',
            '(toggleFavourite)'='toggleFavourite($event)',
            '(delete)'='delete($event)',
            '(retryURLParsing)'='retryURLParsing($event)',
            '(tagClick)'='setFilter({tagId: $event})',
            '(changeRating)'='changeRating($event)',
            '(changeComment)'='changeComment($event)',)
  tt-filter('[tags]'='tags$ | async', '[filter]'='filter$ | async', '(changed)'='setFilter($event)')
  tt-list('[items]'='items$ | async',
          '[tags]'='tags$ | async',
          '[isLoading]'='isLoading',
          '[areAllItemsLoaded]'='areAllItemsLoaded',
          '(startReading)'='startReading($event)',
          '(finishReading)'='finishReading($event)',
          '(undoReading)'='undoReading($event)',
          '(toggleTag)'='toggleTag($event)',
          '(toggleFavourite)'='toggleFavourite($event)',
          '(delete)'='delete($event)',
          '(retryURLParsing)'='retryURLParsing($event)',
          '(loadMore)'='loadMore()',
          '(tagClick)'='setFilter({tagId: $event})',
          '(changeRating)'='changeRating($event)',
          '(changeComment)'='changeComment($event)',)

.you-were-reading('[class.hidden]'='filter$.value?.status === "opened"')
  .title.with-actions
    p.is-size-6 You were reading...
    a.is-size-6.has-text-grey-light('(click)'='setFilter({status:"opened", isFavourite: false})') More
  tt-list('[items]'='openedItem$ | async',
          '[tags]'='tags$ | async',
          '[isLoading]'='false',
          '[areAllItemsLoaded]'='true',
          '[hideTheEnd]'='true',
          '(startReading)'='startReading($event)',
          '(finishReading)'='finishReading($event)',
          '(undoReading)'='undoReading($event)',
          '(toggleTag)'='toggleTag($event)',
          '(toggleFavourite)'='toggleFavourite($event)',
          '(delete)'='delete($event)',
          '(retryURLParsing)'='retryURLParsing($event)',
          '(tagClick)'='setFilter({tagId: $event})',
          '(changeRating)'='changeRating($event)',
          '(changeComment)'='changeComment($event)',)
