.notification.is-warning('*ngIf'='error$ | async as error')
  button.delete('(click)'='error$.next(null)')
  | {{error}}

nav.panel
  tt-items-add('(add)'='add($event)', '[tags]'='tags$ | async',)
  tt-filter('[tags]'='tags$ | async', '[filter]'='filter$ | async', '(changed)'='filter$.next($event)')
  tt-list('[items]'='items$ | async',
          '[tags]'='tags$ | async',
          '[isLoading]'='isLoading',
          '[areAllItemsLoaded]'='areAllItemsLoaded',
          '(startReading)'='startReading($event)',
          '(finishReading)'='finishReading($event)',
          '(undoReading)'='undoReading($event)',
          '(toggleTag)'='toggleTag($event)',
          '(toggleFavourite)'='toggleFavourite($event)',
          '(delete)'='delete($event)',
          '(retryURLParsing)'='retryURLParsing($event)',
          '(loadMore)'='loadMore()',
          '(tagClick)'='filterByTagId($event)',
          '(changeRating)'='changeRating($event)',)
