.widget.widget--push-notifications
  .widget__header
    h2.widget__header__title Push notifications
  .widget__body.px-0
    .table-container
      table.table.is-striped.is-fullwidth
        thead
          tr
            th Feature
            th Is turned on for your account?
            th Is turned on for this browser?
        tr
          td Roadmap (related activity)
          td 
            label.checkbox
              input(
                type='checkbox',
                [ngModel]="(userService.user$ | async).sendRoadmapActivityPushNotifications",
                (ngModelChange)="userService.setSettingSendRoadmapActivityPushNotifications($event)"
              )
          td
            span.icon.has-text-success(
              *ngIf="(userService.user$ | async).sendRoadmapActivityPushNotifications && messagingService.isGranted()",
              title="Push notifications are activated for this browser"
            )
              i.far.fa-check-circle
            ng-container(*ngIf="(userService.user$ | async).sendRoadmapActivityPushNotifications")
              button.button.is-primary.is-small(
                  *ngIf="messagingService.isDefault()",
                  (click)="userService.activatePushNotifications()")
                span Activate

              span(*ngIf="!messagingService.isSupported()") Browser doesn't support push notifications.

              div(*ngIf="messagingService.isDenied()")
                span Denied. To activate - go to browser settings. Here are some instructions:
                .buttons.are-small
                  a.button(href="https://support.google.com/chrome/answer/114662?visit_id=637065060206456040-66104529&rd=1&co=GENIE.Platform%3DAndroid&oco=1", target="_blank") Chrome for Android
                  a.button(href="https://support.google.com/chrome/answer/114662?visit_id=637065060206456040-66104529&rd=1&co=GENIE.Platform%3DDesktop&oco=1", target="_blank") Chrome for Desktop
                  a.button(href="https://support.apple.com/en-gb/guide/safari/sfri40734/mac", target="_blank") Safari for Desktop
