.dropdown.is-hoverable([class.is-right]="!isDropdownLeft")
  .dropdown-trigger
    div([class.button]="asButton")
      a.icon(
        [ngClass]="{ 'has-text-danger': is(3), 'has-text-warning': is(2), 'has-text-info': is(1), 'has-text-dark': is(0), 'has-text-grey-light': is(null) }"
      )
        i.far.fa-flag
  .dropdown-menu.dropdown-menu--w-none(role="menu")
    .dropdown-content
      a.dropdown-item.has-text-grey-light(*ngIf="shouldShowAnyPriority", (click)="setHandler(null)")
        span.icon
          i.fas.fa-times
        span Any priority
      a.dropdown-item.has-text-danger(
        (click)="setHandler(3)",
        [attr.data-badge]="counter ? counter['priorities.3'] : ''"
      )
        span.icon
          i.far.fa-flag
        span Top priority
      a.dropdown-item.has-text-warning(
        (click)="setHandler(2)",
        [attr.data-badge]="counter ? counter['priorities.2'] : ''"
      )
        span.icon
          i.far.fa-flag
        span High priority
      a.dropdown-item.has-text-info(
        (click)="setHandler(1)",
        [attr.data-badge]="counter ? counter['priorities.1'] : ''"
      )
        span.icon
          i.far.fa-flag
        span Medium priority
      a.dropdown-item.has-text-dark(
        (click)="setHandler(0)",
        [attr.data-badge]="counter ? counter['priorities.0'] : ''"
      )
        span.icon
          i.far.fa-flag
        span Low priority
