@import variables

tt-bricks-list
  .brick
    padding: $baseSize/2 $sidePadding
    @include striped
    .line
      &.actions
        display: flex
        align-items: center
        > *
          margin: $baseSize/2 $baseSize/3 0 0
        > button
          font-size: $baseSize*.7
      &.editor
        .buttons
          margin-top: $baseSize/2

