.sign-in
  .logo
    font-size: 5rem
  .text
    animation: 2s fadeIn
    @keyframes fadeIn
      from
        opacity: 0
      30%
        opacity: 0
      to
        opacity: 1
.app-component-container
  > .notification
    padding: 0.75rem
    @media(max-width: 768px)
      margin-left: 0.75rem
      margin-right: 0.75rem
    &.update-available
      display: flex
      justify-content: space-between
      align-content: stretch
      align-items: center

