ng-template(#notSignedIn='')
  section.hero.is-success.is-fullheight
    .hero-body
      .container
        h1.title
          | Manage your URLs as a GOD!
        h2.subtitle
          | Just sign in and sell your soul...
        button.button.is-large('(click)'='signIn()') Sign in

ng-container('*ngIf'='user$ | async as user; else notSignedIn')
  tt-navbar('[user]'='user', '(signOut)'='signOut()', '[appVersionInfo]'='appVersionInfo')

  .section.pt-3
    .container.app-component-container

      .notification.is-warning('*ngIf'='!isOnline')
        | You are Offline

      .notification.is-info.update-available('*ngIf'='isNewVersionAvailable')
        div
          p New version is available&nbsp;
          p('*ngIf'='appUpdateInfo') {{appUpdateInfo.version}}: {{appUpdateInfo.description}}
        button.button('(click)'='update()') Update

      .notification.is-warning('*ngIf'='error')
        button.delete('(click)'='error = null')
        | {{error}}

      nav.panel.panel--no-borders
        tt-items-add('(addItem)'='addItem($event)')
        tt-filter('[tags]'='tags$ | async', '[filter]'='filter$ | async', '(changed)'='filter$.next($event)')
        tt-list('[items]'='items$ | async',
                '[tags]'='tags$ | async',
                '[isLoading]'='isLoading',
                '[areAllItemsLoaded]'='areAllItemsLoaded',
                '(startReading)'='startReading($event)',
                '(finishReading)'='finishReading($event)',
                '(undoReading)'='undoReading($event)',
                '(toggleTag)'='toggleTag($event)',
                '(toggleFavourite)'='toggleFavourite($event)',
                '(delete)'='delete($event)'
                '(loadMore)'='loadMore()')

      button.button.is-small('(click)'='makeError()') Make error

      //tt-tags-editor('[tags]'='tags$ | async')
