ng-template(#signinsection='')
  button.button('(click)'='signIn()') Sign in
div('*ngIf'='user$ | async as user; else signInSection')
  h4 User: {{user.displayName}}
  button('(click)'='signOut()') Sign out
  hr
  .container.is-widescreen
    .field.is-grouped
      p.control.is-expanded
        input.input(
          type='text',
          placeholder='Enter URL',
          '#input'='',
          '(keydown.enter)'='addItem(input.value, user.uid);input.value=""')
      p.control
        button.button.is-info('(click)'='addItem(input.value, user.uid);input.value=""') Add

    .notification.is-warning('*ngIf'='error')
      button.delete('(click)'='error = null')
      | {{error}}


    h3.title Reading:
    tt-list('[items]'='inProgressItems$ | async',
            '(finishReading)'='finishReading($event)',
            '(undoReading)'='undoReading($event)',
            '(delete)'='delete($event)')
    h3.title All:
    tt-list('[items]'='items$ | async',
            '(startReading)'='startReading($event)',
            '(delete)'='delete($event)')
    h3.title Finished:
    tt-list('[items]'='inFinishedItems$ | async',
            '(undoReading)'='undoReading($event)',
            '(delete)'='delete($event)')
