@media(max-width: 768px)
  tt-root > .section
    padding: 0
  .panel.panel--no-borders
    .panel-block
      border-left: 0
      border-right: 0
  .top-control
    padding-left: 0.75rem
    padding-right: 0.75rem
    


.app-component-container
  > .notification
    padding: 0.75rem
    @media(max-width: 768px)
      margin-left: 0.75rem
      margin-right: 0.75rem
    &.update-available
      display: flex
      justify-content: space-between
      align-content: stretch
      align-items: center


tt-root
  display: flex
  min-height: 100vh
  flex-direction: column
  > .main-section
    flex: 1

