ng-template('#notSignedIn'='')
  section.hero.is-primary.is-fullheight.sign-in
    .hero-body.has-text-centered
      .container
        div.logo
          i.far.fa-bookmark
        ng-container('*ngIf'='userService.firebaseUser$ | async as firebaseUser; else notAuthenticatedYet')
          h1.title.welcome-back Welcome, {{firebaseUser.displayName}}
        ng-template("#notAuthenticatedYet"="")
          .text
            h1.title
              | Manage your URLs as a GOD!
            h2.subtitle
              | Just sign in and sell your soul...
            button.button.is-medium.is-primary.is-inverted.is-outlined('(click)'='signIn()')
              span Sign in with
              span.icon
                i.fab.fa-google

        .notification.is-warning('*ngIf'='error$ | async as error')
          | {{error}}

ng-container('*ngIf'='userService.user$ | async as user; else notSignedIn')
  tt-navbar('[user]'='user', '(signOut)'='signOut()', '[appVersionInfo]'='appVersionInfo')

  .section.pt-3
    .container.app-component-container

      .notification.is-warning('*ngIf'='!isOnline')
        | You are Offline

      .notification.is-info.update-available('*ngIf'='isNewVersionAvailable')
        div
          p New version is available&nbsp;
          p('*ngIf'='appUpdateInfo') {{appUpdateInfo.version}}: {{appUpdateInfo.description}}
        button.button('(click)'='update()') Update

      tt-ask-push-notifications

      router-outlet
