ng-template(#notSignedIn='')
  section.hero.is-success.is-fullheight
    .hero-body
      .container
        h1.title
          | Manage your URLs as a GOD!
        h2.subtitle
          | Just sign in and sell your soul...
        button.button.is-large('(click)'='signIn()') Sign in

ng-container('*ngIf'='user$ | async as user; else notSignedIn')
  tt-navbar('[user]'='user',
            '(signOut)'='signOut()',
            '(addItem)'='addItem($event)')

  .container.is-widescreen

    .notification.is-warning('*ngIf'='error')
      button.delete('(click)'='error = null')
      | {{error}}


    h3.title Reading:
    tt-list('[items]'='inProgressItems$ | async',
            '(finishReading)'='finishReading($event)',
            '(undoReading)'='undoReading($event)',
            '(delete)'='delete($event)')

    h3.title New:
    tt-list('[items]'='items$ | async',
            '(startReading)'='startReading($event)',
            '(delete)'='delete($event)')

    h3.title Finished:
    tt-list('[items]'='inFinishedItems$ | async',
            '(undoReading)'='undoReading($event)',
            '(delete)'='delete($event)')
