nav.panel.panel--no-borders

  p.panel-heading
    span Tags
    button.button.is-small('(click)'='createHandler()') Create

  .panel-block('*ngFor'='let tag of tags')

    .field.has-addons
      p.control
        input.input(
        type='text',
        placeholder='Tag title',
        '#input'='',
        '[value]'='tag.title')
      p.control
        button.button.is-primary('(click)'='setTitle(tag, input.value)')
          span.icon.is-small
            i.far.fa-save

    a.icon.is-small.ml-2.has-text-danger(title='Delete tag', '(click)'='deleteHandler(tag)')
      i.far.fa-trash-alt
