.notification.is-info.is-small.mb-3(*ngIf="isVisible$ | async")
  p You have push notifications enabled on other device. Do you want to receive them on this device as well?
  .buttons.is-right.mt-2.are-small
    button.button((click)="dismiss()") No
    button.button.is-primary((click)="activate()") Yes
