tt-items-import-list
  display: block
  .base
    &.has-indentation
      padding-left: 2.5rem
    .line
      display: flex
      align-items: center
      > *
        margin-right: .5rem
      input[type="checkbox"]
        width: 1rem
        height: 1rem
        cursor: pointer
