@import ../../../../../../../node_modules/bulma/sass/utilities/initial-variables

tt-notifications
  .dropdown-trigger
    position: relative
    .indicator
      width: 5px
      height: 5px
      border-radius: 4px
      background-color: $red
      position: absolute
      top: 0
      right: 0

  .last-items-shown
    font-size: $size-7
