
ng-container('*ngIf'='allNotifications$ | async as notifications; else loading')
  .notification-messages

    a.dropdown-item.mark-all-as-read('[class.is-hidden]'='!(isAnyNewNotification$ | async)', '(click)'='markNewAsRead()')
      span.icon.mr-1
        i.fas.fa-check
      span Mark as read

    ng-container('*ngFor'='let notification of notifications; last as isLast')
      .notif
        .line.first {{notification.text}}
        .line.second
          a.indicator('[class.has-background-primary]'='notification.status === "new"',
                      '[class.has-background-grey]'='notification.status !== "new"',
                      '(click)'='markAsRead(notification.id)',
                      title='Mark as read')
          .has-text-grey-light.is-size-7 {{notification.createdAt.toDate() | date:dateFormat}}
          a.icon.button--delete.ml-auto('(click)'='delete(notification.id)')
            i.far.fa-trash-alt
      hr('[ngClass]'='{"is-hidden": isLast}')

    .last-items-shown('*ngIf'='notifications.length === notificationsLimit') Last {{notificationsLimit}} items shown

    .has-text-centered.mb-3('*ngIf'='!notifications.length') No activity yet

ng-template('#loading'='')
  .has-text-centered.mb-3 Loading...

