.loading-indicator.button.is-loading([class.is-hidden]="!pagination || !pagination.isLoading || !items || !items.length")

tt-list-item( *ngFor="let item of items; trackBy: trackByFn()",
              [item]="item",
              [tags]="tags",
              (startReading)="startReading.emit($event)",
              (finishReading)="finishReading.emit($event)",
              (undoReading)="undoReading.emit($event)",
              (delete)="delete.emit($event)",
              (retryURLParsing)="retryURLParsing.emit($event)",
              (toggleTag)="toggleTag.emit($event)",
              (toggleFavourite)="toggleFavourite.emit($event)",
              (tagClick)="tagClick.emit($event)",
              (changeRating)="changeRating.emit($event)",
              (changeComment)="changeComment.emit($event)",
              (setPriority)="setPriority.emit($event)",
              (setTitle)="setTitle.emit($event)",
              (setURL)="setURL.emit($event)",
)

.buttons.is-centered.my-3(*ngIf="pagination")
  button.button('[class.is-hidden]'='!pagination.page', '(click)'='loadPrev.emit()') To the beginning
  span.button.is-static(*ngIf='pagination.page || pagination.nextItemsAvailable') Page {{pagination.page+1}}
  button.button('(click)'='loadNext.emit()',
                '[class.is-loading]'='pagination.isLoading'
                '[class.is-static]'='!pagination.nextItemsAvailable')
    span('[class.is-hidden]'='!pagination.nextItemsAvailable') Next
    span('[class.is-hidden]'='pagination.nextItemsAvailable || isZeroItems()') The end
    span('[class.is-hidden]'='!isZeroItems()') No items
