
//p.control.has-icons-right
//  input.input(
//      placeholder='Enter URL',
//      '#input'='',
//      '(keydown.enter)'='addItem.emit(input.value);input.value=""')
//  span.icon.is-right('(click)'='addItem.emit(input.value);input.value=""')
//    i.fas.fa-plus(aria-hidden='true')


.field.has-addons.is-fullwidth.pb-3.top-control
  .control.is-expanded
    input.input(
        placeholder='Enter URL',
        '#input'='',
        '(keydown.enter)'='addItem.emit(input.value);input.value=""')
  .control
    a.button.has-text-grey('(click)'='addItem.emit(input.value);input.value=""')
      span.icon
        i.fas.fa-plus
