.notification.is-warning('*ngIf'='errors.length')
  button.delete('(click)'='errors = []')
  p('*ngFor'='let error of errors') {{error}}

.pb-3.top-control
  .field.has-addons.is-fullwidth
    .control.is-expanded
      input.input(
          placeholder='Enter URL',
          '[(ngModel)]'='inputValue',
          '(keydown.enter)'='addItem()',)

    .control
      tt-tag-selector(
          '[tags]'='tags',
          '[selectedIds]'='inputTags',
          '(toggle)'='toggleTag($event)',
          '[isTitleCustom]'='true',
          '[isAllTagsVisible]'='false',)
        a.button.has-text-info
          i.fas.fa-hashtag(aria-hidden='true')

    .control
      button.button.has-text-grey('(click)'='addItem()', title='Add')
        span.icon
          i.fas.fa-plus
