.field.has-addons.is-fullwidth.pb-3.top-control
  .control.is-expanded
    input.input(
        placeholder='Enter URL',
        '#input'='',
        '(keydown.enter)'='add(input.value);input.value=""')
  .control
    a.button.has-text-grey('(click)'='add(input.value);input.value=""')
      span.icon
        i.fas.fa-plus
