.notification.is-warning('*ngIf'='errors.length')
  button.delete('(click)'='errors = []')
  p('*ngFor'='let error of errors') {{error}}

.field.has-addons.is-fullwidth.pb-3.top-control
  .control.is-expanded
    input.input(
        '*ngIf'='isSingleURL',
        placeholder='Enter URL',
        '[(ngModel)]'='inputValue',
        '(keydown.enter)'='add()',)
    textarea.textarea(
        '*ngIf'='!isSingleURL',
        placeholder='Enter URLs. One per line or split with space (separators "\\n" and " ")',
        '[(ngModel)]'='inputValue',)

  .control
    button.button.has-text-grey(
        '(click)'='isSingleURL = !isSingleURL',
        '[title]'='isSingleURL ? "Add multiple URLs" : "Add single URL"')
      span.icon('*ngIf'='isSingleURL')
        i.fas.fa-stream
      span('*ngIf'='!isSingleURL') 1

  .control
    tt-tag-selector(
        '[tags]'='tags',
        '[selectedIds]'='inputTags',
        '(toggle)'='toggleTag($event)',
        '[isTitleCustom]'='true',
        '[isAllTagsVisible]'='false',)
      a.button.has-text-info
        i.fas.fa-hashtag(aria-hidden='true')

  .control
    button.button.has-text-grey('(click)'='add()', title='Add')
      span.icon
        i.fas.fa-plus
