.notification.is-warning('*ngIf'='error$ | async as error')
  button.delete('(click)'='error$.next(null)')
  | {{error}}

.tile.is-ancestor
  .tile.is-parent
    .tile.is-child.box
      h2.title 1. Add URL fast using bookmarklet
      p.mb-1 Bookmarklet can save current tab URL to Toread.today.
      p
        strong How to install:
      p On Desktop: Drag and drop "Save to Toread.today" button to bookmarks panel.
      p On Mobile: &nbsp;
        a(href='https://www.howtogeek.com/189358/beginner-geek-how-to-use-bookmarklets-on-any-device/', target='_blank') 🔖 Instruction
      p.my-4
        a.button.is-primary('[href]'='bookmarkletCode') Save to Toread.today

      p
        strong How to use:
      p On Desktop: Open link that you want to save. Click on bookmarket on your Bookmarks Bar. Profit!
      p On Mobile: &nbsp;
        a(href='https://www.howtogeek.com/189358/beginner-geek-how-to-use-bookmarklets-on-any-device/', target='_blank') 🔖 Instruction

      //p as well as parse a YouTube Playlist for videos to import them all.
      //p
      //  span Check it on
      //  a.tag.is-info.tag--inline(href='https://youtube.com/playlist?list=WL', target='_blank') YouTube Watch Later
      //  span page or other page with a YouTube Playlist and URL like
      //  span.tag.tag--inline.is-info https://youtube.com/playlist?list=xxx

      button.button.my-1('(click)'='isBookmarkletVideoVisible = !isBookmarkletVideoVisible') Show/hide "How to" video
      figure.image.is-16by9('*ngIf'='isBookmarkletVideoVisible')
        iframe.has-ratio(width='560' height='315' src='https://www.youtube.com/embed/dQw4w9WgXcQ' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

  .tile.is-parent
    .tile.is-child.box
      h2.title 2. Import bookmarks / Pocket app / List of URLs
      p To import list of URLs - upload txt file with one URL per line or split with space (separators "\n" and " ")

      ng-container('*ngIf'='bookmarksImport$ | async as import; else instructions')
        .notification.is-info('*ngIf'='(importState$ | async) === "sending"') Importing data...
        .notification.is-success('*ngIf'='(importState$ | async) === "success"') Import has been completed.
        tt-items-import('[import]'='import',
                        '[tags]'='tags$ | async',
                        '(done)'='saveBookmarks($event)',
                        '(cancel)'='cancelImportBookmarks()'
                        '[ngClass]'='{"is-hidden": (importState$ | async) === "sending"}')
      ng-template('#instructions'='')
        .field.my-3
          .file.is-medium.is-boxed.is-centered
            label.file-label
              input.file-input(type='file' name='Import' '(change)'='parseFile($event)' title='Click to upload files' accept='text/html, text/plain')
              span.file-cta
                span.file-icon
                  i.fas.fa-upload
                span.file-label
                  | Choose file

      button.button.my-1('(click)'='isImportVideoVisible = !isImportVideoVisible') Show/hide "How to" video
      figure.image.is-16by9('*ngIf'='isImportVideoVisible')
        iframe.has-ratio(width='560' height='315' src='https://www.youtube.com/embed/dQw4w9WgXcQ' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

