h1.subtitle Here you can find different ways of importing URLs to Toread.today app.
.content
  ol
    li
      a(routerLink="bulk") Import URLs bulk from Browser bookmarks, Pocket app or just List of URLs
    li
      a(routerLink="bookmarklet") Save URL using bookmarklet
    li.has-text-grey ... using Chrome Extension on Desktop (Coming soon...)
    li.has-text-grey ... using Share action on Android (Coming soon...)
