h1.title Add & Import
h2.subtitle Here you can find different ways of importing URLs to Toread.today app.
.content
  ol
    li
      a(routerLink="bulk") 
        div Import URLs bulk from Browser bookmarks, Pocket app or just List of URLs
        img.screenshot(src="assets/import/bulk/preview.png", alt="Import URLs bulk")
    li
      a(routerLink="bookmarklet") 
        div Save URL using bookmarklet
        img.screenshot(src="assets/import/bookmarklet/preview.png", alt="Import URLs bulk")
    li.has-text-grey ... using Chrome Extension on Desktop (Coming soon...)
    li.has-text-grey ... using Share action on Android (Coming soon...)
