.mobile-full
  .columns
    .column
      .widget.widget--read-today
        .widget__header
          tt-items-filter(
            [tags]="tagService.tags$ | async",
            [params]="itemsRequest.params$ | async",
            (changed)="routerHelper.toItemsWithFilter($event.filter)"
          )
        .widget__body.is-paddingless
          tt-items-filter-description.widget__description([params]="itemsRequest.params$ | async")
          ng-container(*ngIf="itemsRequest.response$ | async as randomItems")
            ng-container(*ngIf="randomItems.length; else noItems")
              tt-list(
                [items]="randomItems",
                [meta]="itemsRequest.responseMeta$ | async",
                [tags]="tagService.tags$ | async",
                (startReading)="itemService.startReading($event)",
                (finishReading)="itemService.finishReading($event)",
                (undoReading)="itemService.markAsNew($event)",
                (toggleTag)="itemService.toggleTag($event.itemId, $event.isSelected, $event.tagId)",
                (toggleFavourite)="itemService.toggleFavourite($event.id, $event.isFavourite)",
                (delete)="itemService.remove($event)",
                (retryURLParsing)="itemService.retryURLParsing($event)",
                (tagClick)="routerHelper.toItemsWithFilter({tagId:$event})",
                (changeRating)="itemService.changeRating($event.id, $event.rating)",
                (changeComment)="itemService.changeComment($event.id, $event.comment)",
                (setPriority)="itemService.setPriority($event.item.id, $event.priority)",
                (setTitle)="itemService.setTitle($event.item.id, $event.title)",
                (setURL)="itemService.setURL($event.item.id, $event.url)",
                (loadPrev)="prev()",
                (loadNext)="next()",
                (setPaginationLimit)="setPaginationLimit($event)",
              )
        ng-template("#noItems"="")
          .widget__info
            p Nothing to recommend at the moment.
            div
              a.inline-block((click)="focusOnAddInput()") Try add a link 🔗
              div or
              a.inline-block(routerLink="/app/import") Import your bookmarks 🔖
    .column
      ng-container(*ngIf="openedItemsRequest.response$ | async as openedItems")
        ng-container(*ngIf="openedItems.length && itemsRequest.params$.value.filter.status !== 'opened'")
          .widget.widget--recently-opened
            .widget__header
              h2.widget__header__title Don't forget to finish:
            .widget__body.is-paddingless
              .widget__description
                span Recently opened
              tt-list(
                [items]="openedItems",
                [tags]="tagService.tags$ | async",
                (startReading)="itemService.startReading($event)",
                (finishReading)="itemService.finishReading($event)",
                (undoReading)="itemService.markAsNew($event)",
                (toggleTag)="itemService.toggleTag($event.itemId, $event.isSelected, $event.tagId)",
                (toggleFavourite)="itemService.toggleFavourite($event.id, $event.isFavourite)",
                (delete)="itemService.remove($event)",
                (retryURLParsing)="itemService.retryURLParsing($event)",
                (tagClick)="routerHelper.toItemsWithFilter({tagId:$event})",
                (changeRating)="itemService.changeRating($event.id, $event.rating)",
                (changeComment)="itemService.changeComment($event.id, $event.comment)",
                (setPriority)="itemService.setPriority($event.item.id, $event.priority)",
                (setTitle)="itemService.setTitle($event.item.id, $event.title)",
                (setURL)="itemService.setURL($event.item.id, $event.url)",
              )
              .more(*ngIf="openedItems.length >= OPENED_ITEMS_LIMIT")
                a.icon-alignment--last(routerLink="/app/links", [queryParams]="{status: 'opened'}")
                  span More recently opened items
                  span.icon
                    i.fas.fa-chevron-right
      .widget.widget--statistics-global
        .widget__header
          h2.widget__header__title Statistics
            span.widget__header__subtitle How is your reading flow?
        .widget__body(*ngIf="counter$ | async as counter; else noCounter")
          nav.level.is-mobile.has-text-centered

            .level-item(*ngIf="counter['statuses.new'] >= 0")
              a.has-text-dark(routerLink="/app/links", [queryParams]="{status: 'new'}")
                p.heading New
                p.title {{counter['statuses.new']}}

            .level-item(*ngIf="counter['statuses.opened']>= 0")
              a.has-text-info(routerLink="/app/links", [queryParams]="{status: 'opened'}")
                p.heading Started
                p.title.has-text-info {{counter['statuses.opened']}}

            .level-item(*ngIf="counter['statuses.finished']>= 0")
              a.has-text-success(routerLink="/app/links", [queryParams]="{status: 'finished'}")
                p.heading Finished
                p.title.has-text-success {{counter['statuses.finished']}}

        ng-template("#noCounter"="")
          .widget__info
            div No statistics yet.
      .widget.widget--statistics-monthly
        .widget__header
          h2.widget__header__title Per month
            span.widget__header__subtitle Links Added vs Finished
          .widget__header__action
            a.icon((click)="prevMonth()", title="Show prev month")
              i.fas.fa-chevron-left
            span {{monthNames[(month$ | async) - 1]}} {{year$ | async}}
            a.icon.icon-alignment--last(*ngIf="doesNextMonthExist$ | async", (click)="nextMonth()", title="Show next month")
              i.fas.fa-chevron-right
        ng-container(*ngIf="statistics$ | async as statistics; else noStatistics")
          .widget__body
            nav.level.is-mobile.has-text-centered
              .level-item.has-text-warning
                div
                  p.heading Added
                  p.title.has-text-warning {{statistics.new}}
              .level-item.has-text-success
                div
                  p.heading Finished
                  p.title.has-text-success {{statistics.finished}}
          .widget__body.widget__body--is-side-paddingless
            tt-statistics([statistics]="statistics")
        ng-template("#noStatistics"="")
          .widget__info
            div No statistics for this period.
            div Wanna read something?


