tt-notifications

  .notifications
    width: 400px
    &-new
      position: absolute
      top: 52px
      right: 0
    &-all
      position: absolute
      top: 52px
      right: 0
      .delete
        position: absolute
        top: 0
        right: -0.3rem
