a(title='Show notifications', '(click)'='areAllNotificationsVisible = !areAllNotificationsVisible')
  span.icon.is-white.has-text-white
    i.far.fa-bell

//- New notifications (disappear in 5 seconds)
.notifications.notifications-new('*ngIf'='error || (isAnyNewNotification$ | async)')
  .notification.is-warning('*ngIf'='error')
    button.delete('(click)'='error = null')
    | {{error}}

  .notification.is-info('*ngFor'='let notification of newNotifications$ | async')
    button.delete('(click)'='markAsRead(notification.id)')
    p {{notification.text}}

//- All notifications (visible after click on "Show notifications" button)
.notifications.notifications-all('*ngIf'='areAllNotificationsVisible')
  .card
    .card-content
      button.button.mb-3('(click)'='areAllNotificationsVisible = false') Close
      .is-relative.mb-3('*ngFor'='let notification of allNotifications$ | async')
        a.delete('(click)'='delete(notification.id)')
        p {{notification.text}}
        p.has-text-grey-light.is-size-7 {{notification.createdAt.toDate() | date:dateFormat}}

