.dropdown.is-hoverable.is-right('[class.is-active]'='error || (isAnyNewNotification$ | async)')
  .dropdown-trigger(title='Show notifications')
    a
      span.icon.is-white.has-text-white.px-3
        i.far.fa-bell

  .dropdown-menu(role='notifications')
    .dropdown-content
      //- Error
      ng-container('*ngIf'='error')
        .dropdown-item
          .indicator.has-background-danger
          p {{error}}
          a.icon.button--delete.ml-auto('(click)'='error = null')
            i.far.fa-trash-alt
        hr.dropdown-divider
      ng-container('*ngFor'='let notification of allNotifications$ | async; last as isLast')
        .dropdown-item
          .indicator('[class.has-background-primary]'='notification.status === "new"')
          div
            p {{notification.text}}
            p.has-text-grey-light.is-size-7 {{notification.createdAt.toDate() | date:dateFormat}}
          a.icon.button--delete.ml-auto('(click)'='delete(notification.id)')
            i.far.fa-trash-alt
        hr.dropdown-divider('[ngClass]'='{"is-hidden": isLast}')
