.panel-block.is-flex.has-border-bottom.p-0
  .tabs
    ul
      li('*ngFor'='let status of statuses', '[class.is-active]'='isStatus(status)', '(click)'='setStatus(status)')
        a {{status}}
      li.favourite('[class.is-active]'='isFavourite()', '(click)'='setFavourite()')
        a
          span.icon([class.has-text-warning]="isFavourite()")
            i.fa-star([ngClass]="{fas: isFavourite(), far: !isFavourite()}")

  tt-priority-selector.mr-3([priority]="filter.priority", [shouldShowAnyPriority]="true", (set)="setPriority($event)")

  tt-tag-selector('[tags]'='tags', '[selectedIds]'='filter.tagId ? [filter.tagId] : []', '(toggle)'='toggleTagId($event)', [isAllTagsVisible]="true")
